.frame-icon15 {
  position: absolute;
  top: 16.47px;
  left: calc(50% - 137px);
  width: 26.66px;
  height: 21.33px;
}
.pixel-tracking {
  position: absolute;
  top: 16px;
  left: 62.94px;
  line-height: 24px;
  font-weight: 500;
}
.div31 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 306px;
  height: 57px;
  flex-shrink: 0;
}
.facebook-google-analytics {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-dimgray-200);
  display: flex;
  align-items: center;
  width: 299.42px;
}
.div29,
.div30 {
  position: absolute;
}
.div30 {
  top: 2px;
  left: 2px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.div29 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 391px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 350px;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
