.qr-code1 {
  position: absolute;
  top: 87px;
  left: 0;
  font-size: var(--font-size-12xl);
  line-height: 38.4px;
  font-weight: 500;
  color: var(--color-black);
}
.full-featured-qr-code {
  position: absolute;
  top: 142.39px;
  left: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 432px;
}
.frame-icon12 {
  position: relative;
  width: 17.5px;
  height: 14px;
  flex-shrink: 0;
}
.custom-colors-with {
  position: relative;
  line-height: 24px;
}
.li10,
.li8,
.li9 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-150xl-5) var(--padding-0)
    var(--padding-0);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.li10,
.li9 {
  padding: var(--padding-0) var(--padding-230xl-5) var(--padding-0)
    var(--padding-0);
}
.li10 {
  padding: var(--padding-0) var(--padding-132xl-5) var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-mini);
}
.span-icon3,
.ul3 {
  position: absolute;
  left: 0;
}
.ul3 {
  top: 214.39px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.span-icon3 {
  top: 0;
  width: 80px;
  height: 64px;
}
.div28 {
  position: absolute;
  top: calc(50% - 159.2px);
  left: 713px;
  width: 445px;
  height: 318.39px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
